<% include ./partials/header %>

<div class="new-camp">
    <h1 class="new-camp-title">Edit Campground <%= camp.name %></h1>

    <form class="new-camp-form" action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST">
        <input class="camp-name" type="text" placeholder="Campground Name" name="camp[name]" value="<%= camp.name %>" required>
        <input class="camp-img" type="url" placeholder="Campgound Image URL" name="camp[image]" value="<%= camp.image %>" required>
        <input class="camp-desc" type="text" placeholder="campground Description" name="camp[description]" value="<%= camp.description %>">
        <input class="camp-name" type="number" step="0.01" placeholder="$Price/Night" name="camp[price]" value="<%= camp.price %>" required>
        <input class="camp-submit" type="submit">
    </form>
</div>

<% include ./partials/footer %>